{% extends '_base.html' %}

{% block head %}
  <title>Product - {{ product.name }}</title>
{% endblock %}

{% block body %}
  <div class="side-by-side">
    <div>
      <h1 style="text-align: center;">{{ product.owner }}</h1>
      <ul id="shop-items">
        <li>
          <figure>
            <img src="{{url_for('static', filename='images/tears.gif')}}" alt="NFT Image">
            <figcaption>{{product.name.capitalize()}}</figcaption>
            <p>@{{product.owner}}</p>
{#            <button>Add to Cart</button>#}
          </figure>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}